body {
    background-color: rgb(83, 141, 255);
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial;
}

.not-fantasy {
    font-family: cursive;
}

small-block{
    overflow: scroll;
}

Div{
    margin: 200px 500px;
}